html {
    height: 100%;
}

header {
    padding: 0 20%;
}

h1 {
    font-size: 36px;
}

input.form-control {
    display: inline-block;
    width: 90px;
    text-align: center;
}

#app {
    padding: 5%;
    text-align: center;
    font-size: 6em;
}

#controlBtns {
    display: none;
}

.paused {
    color: #ffc107;
}

.finish{
    color: #dc3545;
    animation:blink 1000ms infinite alternate;
}

@keyframes blink {
    from {
        opacity:1;
        transform: scale(2);
    }
    to {
        opacity:0;
        transform: scale(1);
    }
}
